/* Base Layout Styles */
.zrx-layout {
  @apply flex h-screen overflow-hidden;
}

.zrx-sidebar-container {
  @apply flex-shrink-0 h-screen transition-all duration-300 ease-in-out;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
}

.zrx-content-container {
  @apply flex flex-col flex-1 h-screen transition-all duration-300 ease-in-out;
}

.zrx-content-area {
  @apply flex-1 relative overflow-hidden;
  height: calc(100vh - 54px);
}

/* Properly position scrollbars */
.os-scrollbar {
  @apply z-50;
}

.os-scrollbar-vertical {
  @apply right-0;
}

/* Make sure navbar shadow appears correctly when scrolled */
.navbar-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Logo styles */
.logo-1 {
  /* change to red */
  color: #e74c3c;
}

.logo-2 {
  color: #444444;
}

.logo-3 {
  color: #222;
}

.dark .logo-1 {
  /* dark mode red */
  color: #e74c3c;
}

.dark .logo-2 {
  color: #ccc;
}

.dark .logo-3 {
  color: #ccc;
}
